<form>
    <h2 class="module-header">Simple Counter</h2>
    <div>
        <label for="SCNumber">Count:</label>
        <h1 type="text" id="SCNumber" name="SCNumber" class="SCNumber" defaultValue="0" style="text-align: center;">0</h1>
    </div>
    <div>
        <button name="sc-increment">
            <i class="fas fa-plus"></i>
        </button>
        <button name="sc-decrement">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</form>